<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kurtiskemple.beerfinder"
        versionCode="20" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Beer Finder</name>

    <description>
        Find a beer! Anywhere in the world!
    </description>

    <author href="https://www.kurtiskemple.com" email="kkemple.development@gmail.com">
       Kurtis Kemple 
    </author>
	
	<preference name="exit-on-suspend" value="true" />
	
	<feature name="http://api.phonegap.com/1.0/network" />
	
	<gap:splash src="img/phonestartup.png"/> 


</widget>